@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body{
}
li{
  display: inline;
}

a{
  text-decoration: none;
  font-size: 48px;
  font-family: "Amatic SC";
  color: black;
}

a:hover{
  opacity: .75;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
  height: 500px;
  width: 5076px;
}

.sliding-background {
  background: url("file:///Users/youngeon/Desktop/chatrooms/public/img/background.png") repeat-x;
  height: 1000px;
  width: 5076px;
}

@keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.sliding-background {
  background: url("file:///Users/youngeon/Desktop/chatrooms/public/img/background.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

#container
{
  float: right;
}
